.site-footer {
    padding: 3.25em 0;
    .list-footer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .list-item {
            margin-right: 7em;
            margin-bottom: 1em;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 1.875em;
                color: var(--color-primary);
                img {
                    width: 60px;
                    height: 38px;
                }
                span {
                    margin-left: 20px;
                }
            }
        }
    }
}